/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* BODY */
body {
  background: hsl(270.73deg 74.55% 21.57%);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  padding-top: 60px;
  padding-left: 20px;
}

/* CONTAINER */
.container {
  width: 600px;
  min-height: 500px;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.container.empty {
  justify-content: center;
}

/* HEADING */
#heading {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

/* FORM */
.form-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

/* INPUT */
#todoInput {
  width: 350px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

#todoInput:focus {
  border-color: #ff6f61;
  outline: none;
}

/* ADD BUTTON */
#addBtn {
  width: 180px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #380e60;
  color: white;
  cursor: pointer;
}

#addBtn:hover {
  background: #5a1a8a;
}

/* TODO LIST */
#todoList {
  width: 100%;
  list-style: none;
}

/* TODO ITEM */
#todoList li {
  background: #5a1a8a;
  color: white;
  padding: 16px;
  margin-bottom: 10px;
  border-radius: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* EDIT INPUT */
.editInput {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  margin-right: 10px;
}

/* BUTTONS */
#todoList button {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

/* EDIT */
.editBtn {
  background: #4caf50;
  color: white;
}

/* DELETE */
.delBtn {
  background: #ff6f61;
  color: white;
}

/* RIGHT SIDE SIGNATURE */
.footer {
  position: fixed;
    top: 50%;
    right: 66px;
    transform: translateY(-50%);
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    font-size: 4.4rem;
    font-style: oblique;
    font-family: ui-rounded;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.85;
}

/* RESPONSIVE */
@media (max-width: 650px) {
  .footer {
    display: none;
  }

  .container {
    width: 90%;
  }

  #todoInput,
  #addBtn {
    width: 100%;
  }
}
